.popup {
    width: calc(100vw - 38px);
    max-width: 430px;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    border-radius: 10px;
    position: relative;


    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
} */