.profile {
    margin: 42px auto 36px;
    width: 100vw;
    max-width: 282px;
}

@media screen and (min-width: 880px) {
    .profile {
        max-width: 880px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 39px auto 50px;
    }
}