.popup__submit {
    height: 46px;
    margin-top: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
}

@media screen and (min-width: 481px) {
    .popup__submit {
        height: 50px;
        font-size: 18px;
    }
}